/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Final problem set
 *
 * Global CSS.
 ***************************************************************************/
.middle
{
    margin-left: -40px;
}

.alignleft
{
    float: left;
    font-family: 'Great Vibes', cursive;
    padding-top: 7px;
    padding-left: 15px;
}

.alignright
{
    float: right;
    font-family: 'Great Vibes', cursive;
    padding-top: 7px;
    padding-right: 15px;
}

#logo
{
    font-family: 'Great Vibes', cursive;
}

.showhide
{
    display: none;
}

html
{
    width: 100%;
    overflow-x: hidden;
}

div
{
    width: 100%;
}

#navbar
{
    background: #9adffd;
    height: 35px;  
    width: 100%; 
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
}

body
{
    font-family: 'Ubuntu', sans-serif;
    background: #ccdffe;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

.container
{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

#top
{
    /* center contents */
    text-align: center;
}

#middle
{
    /* center contents */
    text-align: center;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 0px;

    /* center contents */
    text-align: center;
}

#middle .nav
{
    display: inline-block;
}

.table
{
    width: 75%;
    min-width: 700px;
}

li
{
    text-align: left;
}

#buttons
{
    width: 300px;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}

